<nav class="navbar container navbar-expand-xl navbar-light bg-white nav-cus">
  <div class="container  mt-lg-2">
    <a class="navbar-brand cart" href="#">CART</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse nav-items  mt-3  " id="navbarSupportedContent">
      <ul class="all navbar-nav mb-0 ">
          <li>
          <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/salesreport" id="navbarDropdown"
            role="button">Sales report</a>
        </li>
        <li>
          <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/order-management" id="navbarDropdown"
            role="button">Order Management</a>
        </li>
        <li>
          <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/category-management"
            id="navbarDropdown" role="button">Category Management</a>
        </li>
        <li>
          <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/user-management" id="navbarDropdown"
            role="button">User Management</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/product-mgmt" id="navbarDropdown"
            role="button">
            Produc Management
          </a>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text text-black" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Coupons/Offers</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/coupons">Product-Offer</a></li>
            <li><a class="dropdown-item" href="/admin/category-offer">Category-Offer</a></li>
            <li><a class="dropdown-item" href="/admin/coupon-offer">Coupons</a></li>
          </ul>
        </li>
      


        <li class="nav-item dropdown">
          <div
            class="mt-2 nav-link dropdown-toggle navbar-text text-black fas fa-sign-in-alt cart-icon2 navbar-btns rounded-circle text-white "
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          </div>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/admin/signout">SIGNOUT</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <div class="">




          </div>

        </li>
      </ul>


    </div>
  </div>
</nav>













{{!-- <nav class="navbar contaner-fluid navbar-expand-custom navbar-mainbg">
  <a class="mt navbar-brand navbar-logo" href="#">Cart</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item ">

      </li>
      <li class="nav-item  ">
        <a class="nav-link " href="/admin/order-management"><i class="fas fa-tachometer-alt"></i>Order-Management</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/admin/category-management"><i
            class="far fa-address-book"></i>category-Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user-management"><i class="far fa-clone"></i>User- Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product-mgmt"> <i class="far fa-calendar-alt"></i>Product-Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupons"><i class="far fa-chart-bar"></i>Offer-mangement</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="javascript:/"><i class="far fa-copy"></i>Profile</a>

      </li>
      <li class="mt-1 nav-item dropdown">
        <div class="mt-3 nav-link dropdown-toggle navbar-text text-black fas fa-sign-in-alt cart-icon2 text-white "
          id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/admin/profile">Profile</a></li>
          <li><a class="dropdown-item" href="/admin/signout">SIGNOUT</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> --}}
<script src="/javascripts/admin-header.js"></script>