<nav class="navbar container-fluid navbar-expand-lg navbar-light bg-white nav-cus" >
  <div class="container-fluid mt-lg-4">
    <a class="navbar-brand cart" href="#">CART</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  

    <div class="collapse navbar-collapse nav-items container-fluid mt-3  " id="navbarSupportedContent">      
      <ul class="all navbar-nav me-5 mb-0 ">
          <li>
             <a class="nav-link dropdown-toggle navbar-text text-black" href="#" id="navbarDropdown" role="button" >Order Management</a>
          </li>
          <li>
             <a class="nav-link dropdown-toggle navbar-text text-black" href="/admin/user-management" id="navbarDropdown" role="button" >User Management</a>
          </li>
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Produc Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/topwear">Top Wear</a></li>
            <li><a class="dropdown-item" href="/admin/bottomwear">Botton wear</a></li>
             <li><a class="dropdown-item" href="/admin/accessories">Accessories</a></li>
          </ul>
        </li>



           <li>
             <a class="nav-link dropdown-toggle navbar-text text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Coupons/Offers</a>
          </li>
           <li>
             <a class="nav-link dropdown-toggle navbar-text text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
          </li>


           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text text-black navbar-btns rounded-circle text-white text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-sign-in-alt cart-icon2"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><a class="dropdown-item"  href="/admin">SIGN OUT</a></li>
          </ul>
        </li>


          <li class="nav-item dropdown">
            <div class="">
             

              
         
         
            {{!-- <i class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="fas fa-sign-in-alt cart-icon"></i>
              </i>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                 </ul> --}}
                 </div>      

          </li>
      </ul>

       
                 </div>
  </div>
</nav>





