<form class="ms=5 me=5 " action="/admin/add-product" method="POST" enctype="multipart/form-data">


  <div class="form-row mb-5 container bg-light justify-content-center">
  <h3 class="text-center" >ADD PRODUCTS </h3>
    <div class="row">

      <div class=" form-group col-md-6">
        <label for="productname ">PRODUCT NAME</label>
        <input type="text" required name="product-name" class="form-control" id="inputEmail4">
      </div>

      <div class="form-group col-md-6">
        <label for="category">CATEGORY</label>
        <select name="category" id="category" class="form-select" aria-label="Default select example" required>
          <option >Select Category</option>
          {{#each this.category}}
          <option  value={{this.category}}>{{this.category}}</option>
          {{/each}}
        </select>
      </div>
    </div>


    <div class="row">

      <div class="form-group col-md-6">
        <label for="description">DESCRIPTION</label>
        <input name="description" type="text" class="form-control" id="inputEmail4">
      </div>

      <div class="form-group col-md-6">
        <label for="subcategory">SUB CATEGORY</label>
        <select name="sub-category" required id="myList" class="form-select" aria-label="Default select example">
          {{#each result}}
         
          {{/each}}
          
        </select>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="price">PRICE</label>
        <input name="price" required type="number" class="form-control" id="inputEmail4">
      </div>

      <div class="form-group col-md-6">
        <label for="price">Quantity</label>
        <input name="qty" style="width: 10rem;"  type="number" required class="form-control" id="inputqty">
      </div>

    </div>
    <div class="form-group  ">


      <div class="row p-3">
        <div class="mb-3 col-md-4  image-div">
          <input accept="image/*" type='file' name="img1" id="imgInp" required />
          <img id="img" class="img-thumbnail" src="https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png"
            alt=" https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png" />
        </div>

        <div class="mb-3 col-md-4  image-div">
          <input accept="image/*" type='file' name="img2" id="imgInp1" required />
          <img id="img1" class="img-thumbnail image-fluid" src="https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png"
            alt=" https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png" />
        </div>

        <div class="mb-3 col-md-4  image-div">
          <input accept="image/*" name="img3" type='file' id="imgInp2" required />
          <img id="img2" class="img-thumbnail" src="https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png"
            alt=" https://cdn.iconscout.com/icon/free/png-256/gallery-187-902099.png"alt=" img" />
        </div>

      </div>

    </div>


  <button type="submit" class=" mb-5 ms-5 btn btn-primary">Add Product</button>

  </div>
</form>

<script>
   document.getElementById("category").onchange = e => {
        let id = e.target.value
        console.log("id" + id)
        $.ajax({
            url: "/admin/get-subcategory",
            method: 'POST',
            data: { id },
            success: function (response) {
                console.log(response);
                document.getElementById("myList").innerHTML = "";
                for (let i = 0; i < response.data.length; i++) {
                    var innerCode = ` <option value='${response.data[i].name}'' onchange="getItem('{{this.category}}')" id="one">${response.data[i].name}</option>`
                    // var x = document.createElement("LI");
                    //var t = document.createTextNode(response.data[i].name);
                    //x.appendChild(t);
                    document.getElementById("myList").innerHTML += innerCode;

                }




            },
            error: function (err) {
                alert("Something Error")

            }

        })


    }

  document.getElementById('imgInp').onchange = evt => {
    const [file] = document.getElementById('imgInp').files
    if (file) {
      document.getElementById('img').src = URL.createObjectURL(file)
    }
  }

  document.getElementById('imgInp1').onchange = evt => {
    const [file] = document.getElementById('imgInp1').files
    if (file) {
      document.getElementById('img1').src = URL.createObjectURL(file)
    }
  }

  document.getElementById('imgInp2').onchange = evt => {
    const [file] = document.getElementById('imgInp2').files
    if (file) {
      document.getElementById('img2').src = URL.createObjectURL(file)
    }
  }

</script>