<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>
<!-- Material Dashboard CSS -->
<link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />

<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Cart</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#!">Settings</a></li>
          <li><a class="dropdown-item" href="#!">Activity Log</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#!">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/admin/dashboard">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link" href="/admin/salesreport">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Report
            </a>
            <a class="nav-link" href="/admin/order-management">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Order Management
            </a>
            <a class="nav-link" href="/admin/category-management">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Category Management
            </a>
            <a class="nav-link" href="/admin/user-management">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              User Management
            </a>
            <a class="nav-link" href="/admin/product-mgmt">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Produc Management
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Offers/Coupons
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/coupons">Product-offer</a>
                <a class="nav-link" href="/admin/category-offer">Category-offer</a>
                <a class="nav-link" href="/admin/coupon-offer">Coupons</a>

              </nav>
            </div>
            <a class="nav-link" href="/admin/banners">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Banners
            </a>

          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Start Bootstrap
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content" class="container ms-5">
      <main >
        <form class="ms=5 me=5 " id="add_product" onsubmit="return checkValid()" method="POST"
          action="/admin/add-product" enctype="multipart/form-data">


          <div class="form-row mb-5 bg-light bg-light justify-content-center">
            <h3 class="text-center">ADD PRODUCTS </h3>
            <div class="row">

              <div class=" form-group col-md-6">
                <input hidden name="_id" value="{{data._id}}">
                <label for="productname ">PRODUCT NAME</label>
                <span id="p_name_err" class="text-center text-danger"> </span>
                <input type="text" itemid="p_name" name="product_name" class="form-control" id="p_name">
              </div>

              <div class="form-group col-md-6">
                <label for="category">CATEGORY</label>
                <select required name="category" id="category" class="form-select" aria-label="Default select example">
                  <option>Select Category</option>
                  {{#each this.category}}
                  <option value={{this.category}}>{{this.category}}</option>
                  {{/each}}
                </select>
              </div>
            </div>


            <div class="row">

              <div class="form-group col-md-6">
                <label for="description">DESCRIPTION</label>
                <input required name="description" type="text" class="form-control" id="des">
              </div>

              <div class="form-group col-md-6">
                <label for="subcategory">SUB CATEGORY</label>
                <select name="sub_category" required id="myList" class="form-select"
                  aria-label="Default select example">
                  {{#each result}}

                  {{/each}}

                </select>
              </div>

            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="price">PRICE</label>
                <span id="price_err" class="text-center text-danger"> </span>
                <input name="price" id="p_price" required type="number" class="form-control" id="inputEmail4">
              </div>

              <div class="form-group col-md-6">
                <label for="price">Quantity</label>
                <span id="qty_err" class="text-center text-danger"> </span>
                <input name="qty" style="width: 10rem;" type="number" required class="form-control" id="inputqty">
              </div>

            </div>

            <div class="container">
              <span id="img_err" class="text-danger"></span>
              <div class="row justify-content-between" style="width:90%">
                {{!-- item 1 start --}}
                <div class="col-md-2 col-sm-2">
                  <h4 class="title"> Image 1</h4>
                  <div class="fileinput fileinput-new text-center">
                    <div class="fileinput-new thumbnail">
                      <img width="150px" height="150px"
                        src="https://png.pngtree.com/png-vector/20190330/ourmid/pngtree-img-file-document-icon-png-image_897560.jpg"
                        id="chekPreview1" alt="...">

                    </div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image1" name="img1" accept="image/gif, image/jpeg, image/png" />
                        <textarea name="img1" id="imageValue1" cols="30" rows="10" hidden></textarea>
                      </span>
                    </div>
                  </div>
                </div>

                {{!-- item 1 end--}}



                {{!-- item 2 start --}}
                <div class="col-md-2 col-sm-2">
                  <h4 class="title"> Image 2</h4>
                  <div class="fileinput fileinput-new text-center">
                    <div class="fileinput-new thumbnail">
                      <img width="150px" height="150px"
                        src="https://png.pngtree.com/png-vector/20190330/ourmid/pngtree-img-file-document-icon-png-image_897560.jpg"
                        id="chekPreview2" alt="...">

                    </div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image2" name="img2" accept="image/gif, image/jpeg, image/png" />
                        <textarea name="img2" id="imageValue2" cols="20" rows="5" hidden></textarea>
                      </span>
                    </div>
                  </div>
                </div>

                {{!-- item 2 end--}}


                {{!-- item 3 start --}}
                <div class="col-md-2 col-sm-2">
                  <h4 class="title"> Image 3</h4>
                  <div class="fileinput fileinput-new text-center">
                    <div class="fileinput-new thumbnail">
                      <img width="150px" height="150px"
                        src="https://png.pngtree.com/png-vector/20190330/ourmid/pngtree-img-file-document-icon-png-image_897560.jpg"
                        id="chekPreview3" alt="...">

                    </div>

                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span style="width: 10rem;height: 10rem;" class="fileinput-new">Select image</span>
                        <input type="file" name="img3" id="image3" accept="image/gif, image/jpeg, image/png" />
                        <textarea name="img3" id="imageValue3" cols="10" rows="10" hidden></textarea>
                      </span>
                    </div>
                  </div>
                </div>

                {{!-- item 3 end--}}


              </div>
            </div>



            <button type="submit" class=" mb-5 ms-5 btn btn-primary">Add
            </button>

          </div>
        </form>

        <div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body container">
                <div class="img-container">
                  <img style="max-height: 300px;" src="" id="sampleImage1" />
                  <div class="row">


                    <div class="col-md-4">
                      <div class="preview" id="preview1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">

                <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal  1 end-->



        <!-- Modal 2-->
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="img-container">
                  <img style="max-height: 300px;" src="" id="sampleImage2" />
                  <div class="row">
                    <div>

                    </div>
                    <div class="col-md-4">
                      <div class="preview" id="preview2"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">

                <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal  2 end-->


        <!-- Modal 3-->
        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="img-container">
                  <div class="row">
                    <img style="max-height: 300px;" src="" id="sampleImage3" />
                    <div>

                    </div>
                    <div class="col-md-4">
                      <div class="preview" id="preview3"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">

                <button type="button" id="crop3" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

              </div>
            </div>
          </div>
        </div>


      </main>
      <footer class="py-4 bg-light mt-auto">

      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="/javascripts/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="/assets/demo/chart-area-demo.js"></script>
  <script src="/assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="/javascripts/js/datatables-simple-demo.js"></script>
</body>

</html>





<!-- Modal  3 end-->













<script>

  document.getElementById('image1').onchange = e => {
    value = e.target.files[0]
    value = value.type
    console.log(value)
    if (value == "image/jpeg" || value == "image/jpg" || value == "image/png") {
      img1 = true
      img_err.innerHTML = ""
      //modal1 and image 1
      var image1 = document.getElementById('sampleImage1');
      var modal1 = $('#modal1');
      var cropper1;


      var files = event.target.files;

      var done = function (url) {
        image1.src = url;
        modal1.modal('show');
      };

      if (files && files.length > 0) {
        reader = new FileReader();
        reader.onload = function (event) {
          done(reader.result);
        };
        reader.readAsDataURL(files[0]);
      }

      modal1.on('shown.bs.modal', function () {
        cropper1 = new Cropper(image1, {
          aspectRatio: 1,
          viewMode: 3,
          preview: '#preview1'
        });
      }).on('hidden.bs.modal', function () {
        cropper1.destroy();
        cropper1 = null;
      });

      $('#crop1').click(function () {
        canvas = cropper1.getCroppedCanvas({
          width: 400,
          height: 400,


        });

        canvas.toBlob(function (blob) {
          url = URL.createObjectURL(blob);
          var reader = new FileReader();
          reader.readAsDataURL(blob);
          reader.onloadend = function () {
            var base64data = reader.result;
            modal1.modal('hide');
            $("#imageValue1").val(base64data)
            $('#chekPreview1').attr('src', base64data);
          };
        });
      });

    } else {
      Swal.fire(
        'Error!',
        'Select correct format',

      )
      innerHTML = "Select Correct format"
      img1 = false

    }
  }

  document.getElementById('image2').onchange = e => {
    value = e.target.value
    parts = value.split('.')

    if (parts[1] == "jpeg" || parts[1] == "jpg" || parts[1] == "png") {
      img2 = true
      img_err.innerHTML = ""
      var image2 = document.getElementById('sampleImage2');
      var modal2 = $('#modal2');
      var cropper2;


      var files = event.target.files;

      var done = function (url) {
        image2.src = url;
        modal2.modal('show');
      };

      if (files && files.length > 0) {
        reader = new FileReader();
        reader.onload = function (event) {
          done(reader.result);
        };
        reader.readAsDataURL(files[0]);
      }


      modal2.on('shown.bs.modal', function () {
        cropper2 = new Cropper(image2, {
          aspectRatio: 1,
          viewMode: 3,
          preview: '#preview2'
        });
      }).on('hidden.bs.modal', function () {
        cropper2.destroy();
        cropper2 = null;
      });

      $('#crop2').click(function () {
        canvas = cropper2.getCroppedCanvas({
          width: 400,
          height: 400
        });

        canvas.toBlob(function (blob) {
          url = URL.createObjectURL(blob);
          var reader = new FileReader();
          reader.readAsDataURL(blob);
          reader.onloadend = function () {
            var base64data = reader.result;
            modal2.modal('hide');
            $("#imageValue2").val(base64data)
            $('#chekPreview2').attr('src', base64data);
          };
        });
      });


    } else {
      Swal.fire(
        'Error!',
        'Select correct format',

      )
      img2 = false

    }
  }

  document.getElementById('image3').onchange = e => {
    value = e.target.value
    parts = value.split('.')
    console.log(parts[1])
    if (parts[1] == "jpeg" || parts[1] == "jpg" || parts[1] == "png") {
      img3 = true
      img_err.innerHTML = ""
      var image3 = document.getElementById('sampleImage3');
      var modal3 = $('#modal3');
      var cropper3;


      var files = event.target.files;

      var done = function (url) {
        image3.src = url;
        modal3.modal('show');
      };

      if (files && files.length > 0) {
        reader = new FileReader();
        reader.onload = function (event) {
          done(reader.result);
        };
        reader.readAsDataURL(files[0]);
      }


      modal3.on('shown.bs.modal', function () {
        cropper3 = new Cropper(image3, {
          aspectRatio: 1,
          viewMode: 3,
          preview: '#preview3'
        });
      }).on('hidden.bs.modal', function () {
        cropper3.destroy();
        cropper3 = null;
      });

      $('#crop3').click(function () {
        canvas = cropper3.getCroppedCanvas({
          width: 400,
          height: 400
        });

        canvas.toBlob(function (blob) {
          url = URL.createObjectURL(blob);
          var reader = new FileReader();
          reader.readAsDataURL(blob);
          reader.onloadend = function () {
            var base64data = reader.result;
            modal3.modal('hide');
            $("#imageValue3").val(base64data)
            $('#chekPreview3').attr('src', base64data);
          };
        });
      });



    } else {
      Swal.fire(
        'Error!',
        'Select correct format',

      )
      img3 = false

    }
  }


  let p_name = false;
  let p_price = false;
  let inputqty = false;
  let img1 = false;
  let img2 = false;
  let img3 = false;



  $("#p_name").on('input', function () {
    this.value = this.value.replace(/[^a-zA-Z ]/, '')


    if (this.value.charAt(0) == " ") {
      $("#p_name_err").html("should not start with space")
      $(this).css({ borderColor: "red" })
      p_name = false;
    }

    else if (this.value.length < 3) {
      $("#p_name_err").text("should be atleast 2 character")
      $(this).css({ borderColor: "red" })
      p_name = false;

    }
    else if (this.value.length > 20) {
      $("#p_name_err").text("should be max 20  character")
      $(this).css({ borderColor: "red" })
      p_name = false;

    }
    else if (this.value.includes("  ")) {
      $("#p_name_err").text("should not have more spaces ")
      $(this).css({ borderColor: "red" })
      p_name = false;

    }
    else {
      $(this).css({ borderColor: "green" })
      $("#p_name_err").html("")
      p_name = true
    }
  })



  var u_number = document.getElementById("p_price")
  u_number.addEventListener('input', (e) => {
    u_number.value = u_number.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');;


    if (u_number.value.length < 0) {
      price_err.innerHTML = "Enter price"
      p_price = false;

    }
    else {
      price_err.innerHTML = " "
      p_price = true;

    }
  })


  var qty = document.getElementById("inputqty")
  qty.addEventListener('input', (e) => {
    qty.value = qty.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');;


    if (qty.value.length < 0) {
      qty_err.innerHTML = "Enter price"
      inputqty = false;

    }
    else {
      qty_err.innerHTML = " "
      inputqty = true;

    }
  })





  document.getElementById("category").onchange = e => {
    let id = e.target.value
    $.ajax({
      url: "/admin/get-subcategory",
      method: 'POST',
      data: { id },
      success: function (response) {
        console.log(response);
        document.getElementById("myList").innerHTML = "";
        for (let i = 0; i < response.data.length; i++) {
          var innerCode = ` <option value='${response.data[i].name}'' onchange="getItem('{{this.sub_category}}')" id="one">${response.data[i].name}</option>`

          document.getElementById("myList").innerHTML += innerCode;

        }




      },
      error: function (err) {
        alert("Something Error")

      }

    })


  }


  function onconfirm() {
    Swal.fire({
      title: 'Add product',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        return true
      }
    })

  }






  function checkValid() {

    if (p_name && p_price && inputqty && img1 && img2 && img3) {
      Swal.fire({
        position: 'top-bottom',
        icon: 'success',
        title: 'Product added Successfully',
        showConfirmButton: false,
        timer: 900
      })


      return true




    }
    else {
      Swal.fire(
        "Enter all fields correctly"
      )
      return false

    }

  }

</script>