<link href="/css/address.css" rel="stylesheet">
<link href="/css/cart.css" rel="stylesheet">
<header>
    <div class="d-flex justify-content-center align-items-center pb-3">
        <div class="px-sm-5 px-2 active">SHOPPING CART <span class="fas fa-check"></span> </div>
        <div class="px-sm-5 px-2">CHECKOUT</div>
        <div class="px-sm-5 px-2">FINISH</div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
</header>
<div class="wrapper">
    <div class="h5 large">Billing Address</div>
    <form id="checkout-form">
        <input name="userid" value="{{user}}" hidden ></input>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                <div class="mobile h5">Billing Address</div>
                <div id="details" class="bg-white rounded pb-5">
                    <div class="form-group">
                        <label class="text-muted">Name</label>
                        <input type="text" name="firstname" value="" class="form-control input-lg"
                            placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label class="text-muted">Email</label>
                        <div class="d-flex jusify-content-start align-items-center rounded p-2">
                            <input type="email" name="email" value="david.343@gmail.com">
                            <span class="fas fa-check text-success pr-sm-2 pr-0"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> <label>City</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input type="text" name="city" value="Houston">
                                    <span class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label>Zip code</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input
                                        type="text" name="pin" value="77001"> <span
                                        class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"> <label>Address</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input
                                        type="text" name="address" value="542 W.14th Street"> <span
                                        class="fas fa-check text-success pr-2"></span> </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> <label>State</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input name="state" type="text" value="NY"> <span
                                        class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                    </div> <label>Country</label> <select name="country" id="country">
                        <option value="usa">USA</option>
                        <option value="ind">INDIA</option>
                    </select>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            RS : {{total_amount.total}}
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <!-- For demo purpose -->
                <div class="row mb-4">
                    <div class="col-lg-8  text-center">
                        <h1 class="display-6">Select payment method</h1>
                    </div>
                </div> <!-- End -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card ">
                            <div class="card-header">
                                <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                    <!-- Credit card form tabs -->
                                    <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                        <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                                class="nav-link active "> COD</a> </li>
                                        <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i
                                                    class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                                        <li class="nav-item"> <a data-toggle="pill" href="#net-banking"
                                                class="nav-link ">
                                                <i class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
                                    </ul>
                                </div> <!-- End -->
                                <!-- Credit card form content -->
                                <div class="tab-content">
                                    <!-- credit card info-->
                                    <div id="credit-card" class="tab-pane fade show active pt-3">

                                        <div class="form-group">
                                            <input name="mode" value="cod" hidden>
                                            <h6 class="text-center">Cash on delivery</h6>


                                        </div>

                                        <div class="card-footer"> <button type="submit"
                                                class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Order
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <!-- Paypal info -->
                                {{!-- <div id="paypal" class="tab-pane fade pt-3">
                                    <h6 class="pb-2">Select your paypal account type</h6>
                                    <div class="form-group "> <label class="radio-inline"> <input type="radio"
                                                name="optradio" checked> Domestic </label> <label class="radio-inline">
                                            <input type="radio" name="optradio" class="ml-5">International </label>
                                    </div>
                                    <p> <button type="button" class="btn btn-primary "><i
                                                class="fab fa-paypal mr-2"></i>
                                            Log into my Paypal</button> </p>
                                    <p class="text-muted"> Note: After clicking on the button, you will be directed to a
                                        secure gateway for payment. After completing the payment process, you will be
                                        redirected back to the website to view details of your order. </p>
                                </div> <!-- End --> --}}
                                <!-- bank transfer info -->
                                {{!-- <div id="net-banking" class="tab-pane fade pt-3">
                                    <div class="form-group "> <label for="Select Your Bank">
                                            <h6>Select your Bank</h6>
                                        </label> <select class="form-control" id="ccmonth">
                                            <option value="" selected disabled>--Please select your Bank--</option>
                                            <option>Bank 1</option>
                                            <option>Bank 2</option>
                                            <option>Bank 3</option>
                                            <option>Bank 4</option>
                                            <option>Bank 5</option>
                                            <option>Bank 6</option>
                                            <option>Bank 7</option>
                                            <option>Bank 8</option>
                                            <option>Bank 9</option>
                                            <option>Bank 10</option>
                                        </select> </div>
                                    <div class="form-group">
                                        <p> <button type="button" class="btn btn-primary "><i
                                                    class="fas fa-mobile-alt mr-2"></i> Proceed Payment</button> </p>
                                    </div>
                                    <p class="text-muted">Note: After clicking on the button, you will be directed to a
                                        secure gateway for payment. After completing the payment process, you will be
                                        redirected back to the website to view details of your order. </p>
                                </div> <!-- End -->
                                <!-- End -->
                            </div>
                        </div>
                    </div>
                </div>

                --}}
            </div>
        </div>


    </form>
</div>







<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: "/place-order",
            data: $("#checkout-form").serialize(),
            method: "post",
            success: function (response) {
                console.log(response);
                if (response.status) {
                    alert("Signed in successfully")
                    location.replace('/login');

                }
                else {
                    $('#inv').html("login")
                    alert("User exist please login")

                }

            },
            error: function (err) {
                alert("Something Error")

            }
        })

    })
</script>