<style>
    img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;}

</style>

<div>
  <img id="image" src="/product-images/1926351c-424e-406a-8c9a-7d5505f83cfa1.jpg">
</div>
