<div class="login ">
  <div class="bg-light p-3 ">


    <div>
      <h5 class="model-text pt-5">Welcome to cart</h5>
    </div>

    <p class="model-text pt-4" id="exampleModalLabel">Join/sign using to cart</p>




    <div class="g-signin2 ps-4" data-onsuccess="onSignIn"></div>



    <div class="or-separator">
      <hr> <span class="or-text-desktop"> Or </span>
      <hr>
    </div>

    <div class="container" id="wrap">
      <div class="row">
        <div class="p-4">
          <form id="signup-form" accept-charset="utf-8" class="form" role="form">

            <input type="hidden" name="blocked" value=false class="form-control input-lg" placeholder="Your Email"
              required />
              <span class="ms-3 text-danger" id="main_err"></span>
            <p class="ms-3">Please setup your account</p>



            <label  class="ms-3">Gender : </label>
            <label class="radio-inline">
              <input required type="radio" name="gender" value="M" id=male />
              Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" value="F" id=female />
              Female
            </label>
            <div class="row p-2">
              <div class="col-xs-6 col-md-6">
                 <span id="name_err" class="text-center text-danger"> </span>
                <input type="text" id="sign_fname" name="firstname" value="" class="form-control input-lg" placeholder="First Name" />
              </div>
              <div class="col-xs-6 col-md-6">
                <span id="lname_err" class="text-center text-danger"> </span>
                <input type="text" id="sign_lname" name="lastname" value="" class="form-control input-lg" placeholder="Last Name" />
              </div>
            </div>
            <div class="p-2">
                <span id="email_err" class="text-center text-danger"> </span>
              <input type="email" id="login_email" name="email" value="" class="form-control input-lg" placeholder="Your Email"
                required />
            </div>
            <div class="p-2">
               <span id="pass_err" class="text-center text-danger"> </span>
              <input type="password" id="pass" name="password" value="" class="form-control input-lg" placeholder="Password" />
            </div>
             <div class="p-2">
                <span id="number_err" class="text-center text-danger"> </span>
              <input id="ph_number" type="text" name="Number" value="" class="form-control input-lg" placeholder="Number" />
            </div>

            <br />
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
              Create my account</button>

            <a class="ms-4" id="inv" href="/login"></a>
          </form>

        </div>
      </div>
    </div>

  </div>

</div>


<script src="/javascripts/user/usersignup.js"></script>
<script src="/javascripts/user/googleauth.js"></script>