<div class="login">
  <div class="bg-light p-3">
    <div>
      <h5 class="model-text pt-5">Welcome to cart</h5>
    </div>

    <p class="model-text pt-4" id="exampleModalLabel">Join/sign using to cart</p>

    <div class="g-signin2 ps-4" data-onsuccess="onSignIn"></div>
    <div class="or-separator">
      <hr> <span class="or-text-desktop"> Or </span>
    </div>


    <form class="p-3 pb-5 form" role="form" id="login-form">
      <span id="err" class="text-center text-danger"> </span>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
      <a href="/signup">Create an account</a>
    </form>
  </div>
</div>

<script src="/javascripts/user/userlogin.js"></script>
<script src="/javascripts/user/googleauth.js"></script>